<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">Agregar Cliente</h3>
                </div>
                <div class="card-body">
                    <form action="/clientes/add" method="post">
                        <div class="input-group mt-2">
                            <label for="Nombre" class="input-group-text">Nombre</label>
                            <input class="form-control" type="text" name="Nombre" id="Nombre" required>
                        </div>
                        <div class="input-group mt-2">
                            <label for="Apellido" class="input-group-text">Apellido</label>
                            <input class="form-control" type="text" name="Apellido" id="Apellido" required>
                        </div>
                        <div class="input-group mt-2">
                            <label for="Email" class="input-group-text">Email</label>
                            <input class="form-control" type="email" name="Email" id="Email" >
                        </div>
                        <div class="input-group mt-2">
                            <label for="Telefono" class="input-group-text">Telefono</label>
                            <input class="form-control" type="number" name="Telefono" id="Telefono" required>
                        </div>
                        <div class="input-group mt-2">
                            <label for="Direccion" class="input-group-text">Direccion</label>
                            <input class="form-control" type="text" name="Direccion" id="Direccion" required>
                        </div>
                        <div class="input-group mt-2">
                            <label for="Cedula" class="input-group-text">Cedula</label>
                            <input class="form-control" type="number" name="Cedula" id="Cedula" required>
                        </div>
                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
