<main class="mt-5">
    <div class="conteniner">
        <div class="card mx-auto " style="width: 450px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2" src="/logo.png" alt="Logo" style="width: 150px;height:150px;display:block;">
                <h3 class="text-uppercase text-center p-4">Bienvenido a nuestra Tienda de KID SHOP</h3>
            </div>
            <div class="card-body text-center">
                <p>Descubre nuestra colección exclusiva de ropa de paca a precios irresistibles. Encuentra prendas únicas y de calidad para todos los estilos y ocasiones. ¡Renueva tu guardarropa sin salirte del presupuesto!</p>
                <a href="/catalogos/list" class="btn btn-primary">VISITAR CATALOGO</a>
            </div>
        </div>
    </div>
</main>