<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">CREAR CATEGORIA</h3>
                </div>
                <div class="card-body">
                    <form action="/categorias/add" method="post">
                    <div class="input-group mt-2">
                        <label for="Nombre" class="input-group-text">Nombre de Categoria</label>
                        <input 
                        class="form-control"type="text" name="Nombre" id="Nombre" placeholder="Ejm:Ropa" autofocus required>
                    </div>
                    <div class="form-group mt-4 d-grid gap-2">
                        <button class="btn btn-success">CREAR</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>